* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

#navber_section .nav_main {
  position: fixed;
  width: 100%;
}
#navber_section .nav_main .navbar-toggler:focus {
  box-shadow: none;
}
#navber_section .nav_main .navbar-toggler i {
  color: orange;
}
#navber_section .nav_main .navbar-brand img {
  width: 100px;
}
#navber_section .nav_main ul li {
  padding: 0 20px;
}
#navber_section .nav_main ul li a {
  font-size: 18px;
  font-weight: 600;
  color: black;
  border: 1px solid transparent;
  border-radius: 4px;
  text-transform: capitalize;
}
#navber_section .nav_main ul li a:hover {
  border: 1px solid black;
  color: orange;
}
#navber_section .nav_main .cv_bttn a {
  color: orange;
  font-size: 18px;
  padding: 10px 15px;
  background-color: black;
  border: 1px solid orange;
  border-radius: 5px;
}
#navber_section .nav_main .cv_bttn a:hover {
  background-color: transparent;
  color: black;
  border: 1px solid orange;
}

#banner_section {
  padding: 280px 0 150px 0;
}
#banner_section .container .banner_text h4 {
  color: orange;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  font-family: "Dancing Script", "cursive";
}
#banner_section .container .banner_text h1 {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  padding: 20px 0;
  font-family: "Roboto", sans-serif;
}
#banner_section .container .banner_text h1 .ridoy {
  color: orange;
  font-family: "Sedan", serif;
}
#banner_section .container .banner_text h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 20px;
  font-family: "Roboto", sans-serif;
}
#banner_section .container .banner_text p {
  font-size: 18px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}
#banner_section .container .banner_img {
  height: 400px;
  width: 400px;
  border: 1px solid black;
  position: relative;
  border-radius: 50%;
  background-color: black;
  margin-top: -40px;
  margin-left: 50px;
}
#banner_section .container .banner_img img {
  position: absolute;
  top: -120px;
  left: 50px;
  width: 300px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

#about_section {
  padding: 100px 0 150px 0;
}
#about_section .container .about h2 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  position: relative;
  display: inline-block;
}
#about_section .container .about h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 0;
}
#about_section .container p {
  font-size: 20px;
  padding: 50px 0;
}
#about_section .about_img {
  margin-left: 100px;
}
#about_section .about_img img {
  width: 400px;
  border-radius: 10px;
}
#about_section .details {
  background-color: antiquewhite;
  padding: 100px 50px;
  border-radius: 20px;
  margin-top: 100px;
}
#about_section .details ul li {
  color: blue;
}
#about_section .details ul li span {
  color: orange;
  font-size: 20px;
  text-transform: capitalize;
}
#about_section .details ul h6 {
  text-transform: uppercase;
}
#about_section .details ul h4 {
  text-transform: lowercase;
}
#about_section .details ul h4 span {
  text-transform: uppercase;
  color: orange;
}

#portfolio_section {
  padding: 100px 0 150px 0;
}
#portfolio_section .prot_header_text h2 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
}
#portfolio_section .prot_header_text p {
  padding: 50px 0;
  font-size: 20px;
  text-transform: uppercase;
}
#portfolio_section .prot_header_text ul li {
  display: inline;
  padding: 0 20px;
}
#portfolio_section .prot_header_text ul li a {
  font-size: 18px;
  padding: 5px 5px;
  text-transform: uppercase;
  color: orange;
  border-radius: 5px;
}
#portfolio_section .prot_header_text ul li a:hover {
  color: black;
}
#portfolio_section .prot_header_text .tab-content img {
  width: 400px;
  padding-top: 40px;
}

@media (max-width: 575px) {
  #banner_section {
    padding: 150px 0 120px 0;
  }
  #banner_section .container .banner_text h4 {
    color: orange;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    font-family: "Dancing Script", "cursive";
  }
  #banner_section .container .banner_text h1 {
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
    padding: 20px 0;
    font-family: "Roboto", sans-serif;
  }
  #banner_section .container .banner_text h1 .ridoy {
    color: orange;
    font-family: "Sedan", serif;
  }
  #banner_section .container .banner_text h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 20px;
    font-family: "Roboto", sans-serif;
  }
  #banner_section .container .banner_text p {
    font-size: 10px;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
  }
  #banner_section .container .banner_img {
    height: 250px;
    width: 250px;
    position: relative;
    border-radius: 50%;
    background-color: black;
    margin-top: 40px;
    margin-left: 30px;
  }
  #banner_section .container .banner_img img {
    position: absolute;
    top: -10px;
    left: 25px;
    width: 160px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
  }
}
@media (max-width: 575px) {
  #about_section {
    padding: 0px 0 150px 0;
  }
  #about_section .container .about h2 {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
    position: relative;
    display: inline-block;
    overflow: hidden;
  }
  #about_section .container .about h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 0;
  }
  #about_section .container p {
    font-size: 12px;
    padding: 25px 0;
  }
  #about_section .about_img {
    margin-left: -70px;
  }
  #about_section .about_img img {
    width: 350px;
    border-radius: 10px;
  }
  #about_section .details {
    background-color: antiquewhite;
    padding: 50px 50px;
    border-radius: 20px;
    margin-top: 100px;
  }
  #about_section .details ul li {
    color: blue;
  }
  #about_section .details ul li span {
    color: orange;
    font-size: 15px;
    text-transform: capitalize;
  }
  #about_section .details ul h6 {
    text-transform: uppercase;
    overflow: hidden;
  }
  #about_section .details ul h4 {
    text-transform: lowercase;
    overflow: hidden;
  }
  #about_section .details ul h4 span {
    text-transform: uppercase;
    color: orange;
  }
}
@media (max-width: 575px) {
  #portfolio_section {
    padding: 50px 0 150px 0;
  }
  #portfolio_section .prot_header_text h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
  }
  #portfolio_section .prot_header_text p {
    padding: 25px 0;
    font-size: 12px;
    text-transform: uppercase;
  }
  #portfolio_section .prot_header_text ul li {
    display: inline;
    padding: 0 20px;
    overflow: hidden;
  }
  #portfolio_section .prot_header_text ul li a {
    font-size: 16px;
    padding: 5px 5px;
    text-transform: uppercase;
    color: orange;
    border-radius: 5px;
  }
  #portfolio_section .prot_header_text ul li a:hover {
    color: black;
  }
  #portfolio_section .prot_header_text .tab-content img {
    width: 350px;
    padding-top: 40px;
  }
}/*# sourceMappingURL=style.css.map */